{% extends 'base.html' %} 

{%block title%}Page d'accueil du coach en développement personnel{%endblock%} 

{%block content%}

<section class="text-center m-5">
  <h1>Bienvenue chez votre coach en développement personnel</h1>
  <h2>Aidez-moi à atteindre vos objectifs personnels et professionnels</h2>
  <a href="booking" class="btn btn-secondary" role="button">Prendre rendez-vous</a>
</section>

<section class="container">
  <h2>Qui suis-je ?</h2>
  <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente incidunt ea expedita cum 
    vitae praesentium, molestiae quasi ad dicta quis aperiam cupiditate ipsam placeat! Excepturi odit unde quisquam 
    laboriosam perferendis, itaque similique delectus ipsam vero consequatur voluptate inventore saepe consectetur, 
    dolore reiciendis ratione cupiditate voluptas modi sequi non nemo sed placeat cum accusantium. Ipsam, quaerat amet? 
    Quod vero repellat, sunt quisquam voluptatum fugit eveniet quam veniam repellendus laborum vitae ab! Perferendis 
    quae recusandae, accusantium ea dolore voluptates! Numquam asperiores tempora molestiae ea ut corporis? Labore, 
    voluptatibus? Rerum voluptatum fuga pariatur, nisi quam velit fugiat ullam in eaque impedit temporibus quo ducimus 
    repellat molestiae vitae expedita eius deserunt laudantium quibusdam tempora, eos veniam, vero et suscipit? 
    Quo doloribus repudiandae laboriosam at ipsam, id quisquam error quia impedit sequi provident, eaque dicta nulla 
    eum et in veritatis obcaecati nesciunt dignissimos voluptatibus ducimus laborum adipisci quibusdam assumenda. Quas 
    placeat ad nam illum, nulla voluptates dolore, qui ullam quidem recusandae, architecto doloribus commodi. Porro 
    cumque ex eius sint ipsum, quidem voluptates dolorum possimus asperiores, accusamus, vero pariatur beatae. Assumenda,
    id. Esse delectus dicta beatae quos sint corporis quisquam minima sit magnam unde perspiciatis praesentium quibusdam
    facere neque velit eveniet ullam sapiente dolores, perferendis reiciendis quasi! Iste quibusdam quis laborum non 
    debitis dignissimos minus enim ipsa distinctio autem. Porro, tempora corrupti! Veniam magni ipsum cupiditate nam 
    modi quos suscipit vitae molestiae culpa, dolore voluptatum provident quibusdam tempore earum. Corrupti similique 
    consequatur commodi quaerat nisi architecto ratione tempore pariatur eligendi velit? Esse, magni debitis? Ex, 
    accusamus.
  </p>
</section>

{%endblock%}